<% content_for :title do %>Episode<% end %>

<div class="row">
  <div class="text-center">
    <h3>Podcast Episode - Test UI</h3>
    <div>
      <audio class="" id="audioPlayer" controls preload="none">
        <!-- <source src="track.ogg" type="audio/ogg" /> -->
        <source src="http://traffic.libsyn.com/atpfm/atp131.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>

    <div>
    <% @setting = AudioSetting.new(3, 5, 4) %>
      <%= simple_form_for @setting, url: '', as: 'setting',
        wrapper: :inline_form,
        html: { class: 'form-inline' } do |f| %>
        <%#= f.error_notification %>
        Play for
        <%= f.input :play_time %> seconds,
        pause for
        <%= f.input :pause_time %> seconds,
        rewind for
        <%= f.input :rewind_time %> seconds.

        <%= f.button :submit %>
      <% end %>
    </div>

    <div>
      <button type="button" class="btn btn-default" id="playButton">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-default" id="pauseButton">
        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
